<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>SimpleTree</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Form</h1>
    <p>Enter each element you want to insert into the binary tree separated by comma.</p>
    <p>For example, 6,8,7 will insert a 6 then an 8 then a 7 into the binary tree</p>
    <form action="#" th:action="@{/simpletree}" th:object="${simpletree}" method="post">
    	<p>Insert: <input type="text" th:field="*{mytree}"/></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>