<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>SimpleTree</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
    <script src="myScript.js"></script>
</head>
<body id="treebody">
    <script>
        let myNode = makeNode("123");
        document.getElementById("treebody").append(myNode);
    </script>
    <h1>Result</h1>
    <p id="orderslist" th:text="${simpletree.mytree}" />
    <script>
        makeOrderList("orderslist", "treebody");
    </script>
    <a href="/simpletree">Create another SimpleTree</a>
    <br>
    <a href="/">Back to index</a>
</body>
</html>