<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>SimpleTree</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
    <script src="myScript.js"></script>
</head>
<body id="treebody">
    <script>
        let myNode = makeNode("123")
        document.getElementById("treebody").append(myNode);
        makeDiv("treebody", 1);
        let doubleDiv = document.createElement("div");
        let divOne = makeNode("???");
        let divTwo = makeNode("!!!");
        doubleDiv.setAttribute("class", "tree-row");
        doubleDiv.append(divOne);
        doubleDiv.append(divTwo);
        makeDiv("treebody", 3);
        let qdiv = document.createElement("div");
        qdiv.setAttribute("class", "tree-row");
        let divUno = makeNode("1");
        let divDos = makeNode("2");
        let divTres = makeNode("3");
        let divCuatro = makeNode("4");
        qdiv.append(divUno);
        qdiv.append(divDos);
        qdiv.append(divTres);
        qdiv.append(divCuatro);
        document.getElementById("treebody").append(qdiv);
    </script>
    <h1>Result</h1>
    <p id="orderslist" th:text="${simpletree.mytree}" />
    <script>
        makeOrderList("orderslist", "treebody");
    </script>
    <a href="/simpletree">Create another SimpleTree</a>
    <br>
    <a href="/">Back to index</a>
</body>
</html>