html {
    padding: 25px;
    border: 5px solid black;
    text-align: center;
    background-color: lightblue;
    border-radius: 10%;
  }

.treenode {
    margin: auto;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: green;
    border-radius: 50%;
    white-space: pre;
}

.treenodenull {
    margin: auto;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    white-space: pre;
}

.tree-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tree-div {
    height: auto;
    width: auto;
    background-color: darkblue;
    background-color: rgb(9, 24, 49);
    margin: auto;
    padding: 25px;
    border: 5px solid black;
}

.results-div {
    padding: 25px;
    border: 5px solid black;
    text-align: center;
    background-color: lightblue;
}

h1 {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: auto;
    height: auto;;
  }

.alternate {
    box-sizing: border-box;
}