.treenode {
    margin: auto;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: rgba(3,78,136,0.7);
    border-radius: 50%;
    white-space: pre;
}
/*
.treenodeval {
    position: relative;
    color: black;
    left:14px;
    top: 14px;
    border-radius: 1%;
}
*/
.tree-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

